.img-fluid {width: 800px;margin-bottom: 100px}
.home{font-family: 'Permanent Marker', cursive;text-align: center;color: white;}
.navbar{font-family: 'Fredoka One', cursive;}
a{font-family: 'Shadows Into Light', cursive;}
.aboutus{font-family: 'Permanent Marker', cursive;}
.footer{color: white;}
p {font-family: 'Jura', sans-serif;}
.logo {width: 40px}
.manu{text-align: center; color: white; margin-bottom: 50px; margin-top: 50px;}
.white{color: white; margin-top: 30px; margin-bottom: 30px;}
.lab{width: 500px;}
.container{margin-bottom: 50px}