body {background-color: black }
h5 {color: black}
p {color: black}
head {color: white}
div {color: white}
.logo {width: 40px}
.navbar{font-family:  'Jura', sans-serif;}
a{font-family: 'Fredoka One', cursive;}
.aboutus{font-family: 'Permanent Marker', cursive;}
h1 {font-family:'Impact', fantasy;}
body {background-image: width :500px;}
h5	{font-size: 16px;}
