body {
	background-color: black 
}

h1 {
	color: white
}

p {
	color: black
}

head {
	color: white
}

div {
	color: white
}

.logo {
	width: 40px
}

.navbar {
	font-family:  'Jura', sans-serif;
}

a {
	font-family: 'Fredoka One', cursive;
}

.aboutus {
	font-family: 'Permanent Marker', cursive;
}
